# DBMS ( Data base management system)

structured data는 20% 밖에 안된다 semi-structured data와 unstructured data를 주로 다룰 것이다. 데이터베이스는 아주아주중요하다. 

#### data
* raw facts
* no context
* just numbers and text

#### information 
* processed data
* data with context
* value-added data

#### 데이터베이스 조건
* ☆integrated(통합)☆ - 가장중요

동일한 데이터가 중복되지 않도록 구성하고 최소한의 중복 또는 통제된 중복만 허용

* Stored(저장)

컴퓨터로 접근 가능한 물리적 저장 매체 저장

* Shared(공유)

공동으로 소유하고 유지하며 이용하는 데이터

* Operational(운영)

존재 목적이나 기능 수행에 꼭 필요한 데이터 집합

#### 데이터베이스 특징
* 실시간 접근성(Real-time Accessibility)

데이터들 간의 밀접한 관계로 연결되고 중복 데이터를 배제 하도록 지양 사용자의 어떤 요구에도 즉각 응답

* 계속적인 변화(Continuous evolution)

현실 세계의 상태를 정확히 반영하고 동적으로 삽입/삭제/수정하여 현재의 데이터 유지

* 동시 공유 가능(Concurrent sharing)

여러 사용자들이 동시에 이용하고 같은 시간에 같은 데이터에 접근하여 이용

* 내용에의한 참조 가능(Content reference)

저장된주소나 위치에 의해서 참조하지 않고 사용자가 요구하는 데이터의 내용/값에 따라 참조

`DB 하려면 분산처리 배워야함`

#### DBMS 종류

여러가지 있는데 그냥 두가지만 알자 

관계 데이터 모델(RDBMS)과 객체 관계 모델 두가지만 기억하자

관계 데이터 모델은 통상적으로 쓰는것임!

둘을 ORM으로 연결?


#### RDBMS

* 데이터 안정성

* 동시 접근성

* 장애 허용성

* 데이터 무결성

* 데이터 확장성

* 데이터 보고서


#### SQL 명령

* 데이터 정의 언어 DDL(Data definition language)

이거는 슈퍼관리자만 쓸 수 있게 해야해 (CREATE DROP ALTER TRUNCATE)

* 데이터 조작 언어 DML(Data manipulation language)

updata랑 delete는 권한을 주면 안돼 보통은 SELECT 권한만 있다

* 데이터 제어 언어 DCL(Data control language)


`UPDATA county`
`대소문자를 구분하자
안해도되지만 처음 배우는 입장에서는 하는게 좋다`



DATE 와 TIME 이용 - 티켓팅 할 수 있다.

`notnull :  null을 허용하지않겠다.`

DROP : Database 자체를 날려버리는 것 - 쓸 일이 없을 것이다.

TRUNCATE : 데이터베이스 내의 데이터를 초기화 해주는것

ALTER : 설계를 아예 잘못했을때 쓰일 것 같음 알고만 있자 - 쓸 일이 거의 없을 것이다.

PK : Primary Key 

INSER INTO : row 추가 시킬수 있음

SELECT : 이따 크로스 조인 이라고 부를거에요 아주아주 안좋은 방법이다 테이블을 여러개 부르는것은..
SELECT문을 조금더 보면 요런식으로 생겼다.

WHERE : specifies which rows to retrieve.

GROUP BY : groups rows sharing a property so that an aggreragte function can be applied to each group ## 판다스에서 더 깊이있게 배우자

HAVING : selects among the groups defined by the GROUP BY clause. ##조건거는거

ORDER BY : specifies an order in which to return the rows ##정렬하는거 오름차순 내림차순

AS : provides an alias which can be used to temporarily rename tables or columns


`EXAMPLE`

- SELECT * FROM T;

- SELECT * FROM T WHERE C1 = 1;

- SELECT * FROM T ORDER BY C1 DESC;


#### WHERE 절
- 특정 조건에 따라서 부분집합을 가져올 수 있음

- == 쓰지않고 = 쓴다.

- 다양한 연산자로 부분집합 가져옴

`EXAMPLE`

`DELETE
FROM mytable
Where mycol >100 AMD item = 'Hammer'`

% : any character 을 의미

a% : a로 시작하고 나머지가 뭔들 상관없다

%a : a로 끝나고 나머지 뭔들 상관없다.

% or % : 양쪾에 무슨 문자가 붙어도 상관없고 중간에 or만 있으면 됨

a % o : a로 시작하고 o로 끝나면서 중간에 아무글자


#### UPDATE

- 잘 쓰지않는다 . 값을 아예 바꿀 수 있음.

- 기존에 있는 데이터를 잃어버려서 굉장히 위험

LIMIT 옵션 : 상위 TOP K개 가져오겠다 할때 뭐이럴때 쓴다

#### DELETE

- WHERE절을 걸어서 특정 컨디션에 있는 데이터 베이스만 날 릴수도있고 싹다 날릴수도 있고.

- 얘도 쓰면 굉장히 위험

- 강사님은 UPDATE문이나 DELETE문 을 안쓰신다고 하심 굉장히 위험하기 때문

- TRUNCATE와 다른점은 데이터는 날리지만 테이블 자체는 유지되는? 뭐그런거 같음

#### ☆JOIN☆ 

- INNER JOIN : 교집합, 1:n의 관계가 맞음!


```SQL
SELECT OrdersOrderID, Customers.CustomerName, Orders.Orderdate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;
```


- CROSS JOIN : 가능한 모든 경우의 쌍을 다만들어줌, 비추천

``` SQL
SELECT * 
FROM employee CROSS JOIN department;


SELECT * FROM SUPPLIER, PART; (cross join) ##테이블 두개 가져오면 크로스 조인


```


- LEFT JOIN : 교집합 + 왼쪽 테이블

- RIGHT JOIN : 교집합 + 오른쪽 테이블

- FULL OUTER JOIN : 합집합이라고 생각!  



## SQLite

SQlite 는 open source database 이고 free이다. 서버가 필요 없고 (file 형태로 관리)

In [ ]:
dir 에서...

#### 실행에 있는것...

execute 실행하겠다

executemany : 시퀀셜한 데이터를 여러개 입력해야 할떄

executescript 

#### fetch 부분

fetchall : 다 가져와

fetchone : 하나 가져와

fetchmany : 내가 지정한 개수만큼

In [1]:
import sqlite3

In [5]:
cur = conn.cursor()

In [10]:
conn = sqlite3.connect('my2.db')

In [11]:
cur = conn.cursor()

In [12]:
conn.execute('''
    CREATE TABLE COMPANY(
        ID INT PRIMARY KEY NOT NULL,
        NAME          TEXT NOT NULL,
        AGE            INT NOT NULL,
        ADDRESS      CHAR(50),
        SALARY        REAL);
''')

print('Table created successfully')

Table created successfully

In [13]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)\
            VALUES (1, 'Paul', 32, 'California', 20000.00)");

In [14]:
cur.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY)\
            VALUES (2, 'A', 25, 'Deegu', 20000.00)");

In [15]:
data = [(3, 'Teddy', 23, 'Norway', 200000.00),
       (4,  "MARK", 23, "Rich-Mond", 65000.00)]

In [16]:
cur.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
VALUES (?,?,?,?,?)" ,data)

In [17]:
cur.fetchall()

[]

In [18]:
cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

In [20]:
cursor.fetchall()

[(1, 'Paul', 'California', 20000.0),
 (2, 'A', 'Deegu', 20000.0),
 (3, 'Teddy', 'Norway', 200000.0),
 (4, 'MARK', 'Rich-Mond', 65000.0)]

In [22]:
conn.commit()

In [23]:
cur.executescript('''
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (5, 'M', 25, 'NICK', 65000);
    
    INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY)
    VALUES (6, 'N', 25, 'MOND', 65000);
''')

In [30]:
cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

In [31]:
cursor.fetchall()

[(1, 'Paul', 'California', 20000.0),
 (2, 'A', 'Deegu', 20000.0),
 (3, 'Teddy', 'Norway', 200000.0),
 (4, 'MARK', 'Rich-Mond', 65000.0),
 (5, 'M', 'NICK', 65000.0),
 (6, 'N', 'MOND', 65000.0),
 (7, 'eddy', 'Noy', 2030000.0),
 (8, 'RK', 'Rond', 650400.0)]

In [32]:
conn.commit()

In [29]:
data = [(7, 'eddy', 213, 'Noy', 2030000.00),
       (8,  "RK", 234, "Rond", 650400.00)]

cur.executemany("INSERT INTO COMPANY (ID, NAME, AGE, ADDRESS, SALARY) \
VALUES (?,?,?,?,?)" ,data)

IntegrityError: UNIQUE constraint failed: COMPANY.ID

In [37]:
cur.lastrowid ,conn.total_changes ##마지막 row id,

(2, 8)

---
music data

In [ ]:
conn = sqlite3