In [1]:
import numpy as np
import pandas as pd

In [2]:
year2010 = pd.read_csv('2010년시간.csv',engine= 'python')
year2011 = pd.read_csv('2011년시간.csv',engine= 'python')
year2012 = pd.read_csv('2012년시간.csv',engine= 'python')
year2013 = pd.read_csv('2013년시간.csv',engine= 'python')
year2014 = pd.read_csv('2014년시간.csv',engine= 'python')
year2015 = pd.read_csv('2015년시간.csv',engine= 'python')
year2016 = pd.read_csv('2016년시간.csv',engine= 'python')
year2017 = pd.read_csv('2017년시간.csv',engine= 'python')
year2018 = pd.read_csv('2018년시간.csv',engine= 'python')
year2019 = pd.read_csv('2019년시간.csv',engine= 'python')
cc = pd.read_excel('cccc.xlsx')
##2010~2019년 파일을 받아온다.

In [3]:
(year2010.shape,cc.shape, year2011.shape,year2012.shape,year2013.shape,year2014.shape, year2015.shape, year2016.shape, year2017.shape, year2018.shape)
## 각각 shape 확인

((483341, 36),
 (2184, 36),
 (831995, 36),
 (831625, 36),
 (827726, 36),
 (819535, 36),
 (820219, 36),
 (807872, 36),
 (812439, 36),
 (810640, 36))

In [4]:
whos

Variable   Type         Data/Info
---------------------------------
cc         DataFrame           지점                <...>n[2184 rows x 36 columns]
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
year2010   DataFrame             지점              <...>483341 rows x 36 columns]
year2011   DataFrame             지점              <...>831995 rows x 36 columns]
year2012   DataFrame             지점              <...>831625 rows x 36 columns]
year2013   DataFrame             지점              <...>827726 rows x 36 columns]
year2014   DataFrame             지점              <...>819535 rows x 36 columns]
year2015   DataFrame             지점              <...>820219 rows x 36 columns]
year2016   DataFrame             지점              <...>807872 rows x 36 columns]
year2017   DataFrame             지점              <...>812439 rows x 36 columns]
year2018   DataFrame             지점              <...>810640 rows x 36 columns]
year2019   DataFrame             지점              <...>760682 rows x 36 columns]

In [77]:
whos

Variable      Type         Data/Info
------------------------------------
cc            DataFrame           지점                <...>n[2184 rows x 36 columns]
cols          list         n=12
np            module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd            module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
raw_weather   DataFrame    <object with id 1496827252688 (str() failed)>
temp          DataFrame                        신고일시2<...>[84496 rows x 47 columns]
weather       DataFrame    <object with id 1496932209104 (str() failed)>
위도경도          DataFrame                        신고일시2<...>[84325 rows x 12 columns]
위도경도2         DataFrame                        신고일시2<...>[84310 rows x 13 columns]

In [5]:
weather = pd.concat([year2010, cc, year2011, year2012, year2013, year2014, year2015, year2016, year2017, year2018, year2019])
## 데이터를 weather에 합친다
weather.shape

(7808258, 36)

In [6]:
raw_weather=weather.copy()

In [9]:
raw_weather.shape , weather.shape

((7808258, 36), (7808258, 36))

In [10]:
weather.sample(10)

,지점,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),풍향 QC플래그,...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
281345,162,2011-02-12 20:00,-0.2,0.0,NaN,NaN,2.0,0.0,20.0,0.0,...,NaN,NaN,NaN,NaN,0.1,0.0,NaN,NaN,NaN,NaN
199812,136,2010-11-13 14:00,14.3,0.0,NaN,NaN,1.0,0.0,160.0,0.0,...,NaN,2000.0,NaN,NaN,15.4,0.0,11.9,10.1,9.0,9.2
289065,232,2019-06-23 04:00,15.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,...,NaN,1497.0,NaN,NaN,15.1,NaN,NaN,NaN,NaN,NaN
260123,155,2013-09-11 21:00,25.4,0.0,NaN,NaN,1.4,0.0,230.0,0.0,...,10.0,2000.0,0.0,NaN,25.1,0.0,NaN,NaN,NaN,NaN
105376,114,2015-01-13 00:00,-5.1,0.0,NaN,NaN,0.2,0.0,0.0,0.0,...,NaN,1800.0,NaN,NaN,-5.0,0.0,NaN,NaN,NaN,NaN
663780,263,2014-10-14 08:00,10.2,0.0,NaN,NaN,0.1,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,13.7,0.0,14.6,15.8,17.5,18.5
201931,136,2018-01-21 08:00,-5.4,0.0,NaN,NaN,0.4,0.0,0.0,0.0,...,9.0,90.0,NaN,16.0,-3.3,0.0,NaN,NaN,NaN,NaN
397477,189,2018-05-21 09:00,19.0,0.0,NaN,NaN,4.1,0.0,50.0,0.0,...,NaN,1518.0,NaN,NaN,20.9,0.0,NaN,NaN,NaN,NaN
98126,112,2015-03-16 22:00,8.8,0.0,NaN,NaN,0.7,0.0,160.0,0.0,...,NaN,700.0,NaN,42.0,2.6,0.0,7.1,7.2,6.7,5.8
587892,254,2013-11-14 03:00,-1.3,0.0,NaN,NaN,0.6,0.0,290.0,0.0,...,NaN,NaN,NaN,NaN,0.9,0.0,5.0,6.7,9.3,11.3

In [10]:
위도경도 = pd.read_excel('data_최종.xlsx')

In [11]:
위도경도['신고일시2'] = 위도경도['신고일시'].dt.strftime('%Y-%m-%d %H:00')

In [17]:
위도경도['신고일시2'] = pd.to_datetime(위도경도['신고일시2'])

In [18]:
위도경도.dtypes

Unnamed: 0               int64
Unnamed: 0.1             int64
신고일시            datetime64[ns]
주소                      object
사고원인                    object
구조상태                    object
처리결과                    object
mountain                object
인접산                     object
산주소                     object
산id                      int64
위도                     float64
경도                     float64
신고일시2           datetime64[ns]
dtype: object

In [29]:
cols = 위도경도.columns.tolist()
cols = cols[2:]
cols = cols[-1:] + cols[:-1]
cols

['신고일시2',
 '신고일시',
 '주소',
 '사고원인',
 '구조상태',
 '처리결과',
 'mountain',
 '인접산',
 '산주소',
 '산id',
 '위도',
 '경도']

In [30]:
위도경도 = 위도경도[cols]

In [32]:
위도경도.dtypes

신고일시2       datetime64[ns]
신고일시        datetime64[ns]
주소                  object
사고원인                object
구조상태                object
처리결과                object
mountain            object
인접산                 object
산주소                 object
산id                  int64
위도                 float64
경도                 float64
dtype: object

In [33]:
위도경도.to_excel('위도경도.xlsx')

In [35]:
위도경도

,신고일시2,신고일시,주소,사고원인,구조상태,처리결과,mountain,인접산,산주소,산id,위도,경도
0,2010-01-01 07:00:00,2010-01-01 07:49:00,강원도 태백시 혈동,산악기타,경상,인명구조,강원도 태백시 혈동 산,태백산,강원 태백시 소도동,15168010,128.916106,37.098986
1,2010-01-01 11:00:00,2010-01-01 11:16:00,강원도 태백시 혈동,개인(급.만성)질환,기타,인명구조,강원도 태백시 혈동 산,태백산,강원 태백시 소도동,15168010,128.916106,37.098986
2,2010-01-01 11:00:00,2010-01-01 11:31:00,강원도 태백시 소도동,일반조난,미상,인명검색,강원도 태백시 소도동 산,태백산,강원 태백시 소도동,15168010,128.916106,37.098986
3,2010-01-02 07:00:00,2010-01-02 07:44:00,강원도 태백시 황지동,산악기타,경상,인명구조,강원도 태백시 황지동 산,함백산,강원 태백시 황지동 산 176-12,27446004,128.918047,37.161285
4,2010-01-02 11:00:00,2010-01-02 11:34:00,강원도 태백시 소도동,산악기타,안전구조,인명구조,강원도 태백시 소도동 산,태백산,강원 태백시 소도동,15168010,128.916106,37.098986
5,2010-01-02 16:00:00,2010-01-02 16:37:00,강원도 태백시 소도동,산악기타,안전구조,인명구조,강원도 태백시 소도동 산,태백산,강원 태백시 소도동,15168010,128.916106,37.098986
6,2010-01-01 00:00:00,2010-01-01 00:12:00,전라북도 남원시 운봉읍 공안리,일반조난,기타,인명구조,전라북도 남원시 운봉읍 공안리 산,세걸산,전북 남원시 운봉읍 공안리,7951868,127.552153,35.381886
7,2010-01-01 05:00:00,2010-01-01 05:43:00,전라남도 진도군 진도읍 남동리,일반조난,기타,안전조치,전라남도 진도군 진도읍 남동리 산,남산,전남 진도군 진도읍 남동리,25193339,126.267990,34.466671
8,2010-01-01 05:00:00,2010-01-01 05:43:00,전라남도 진도군 진도읍 남동리,일반조난,미상,안전조치,전라남도 진도군 진도읍 남동리 산,남산,전남 진도군 진도읍 남동리,25193339,126.267990,34.466671
9,2010-01-01 06:00:00,2010-01-01 06:25:00,서울특별시 관악구 봉천동,실족추락,미상,인명구조,서울특별시 관악구 봉천동 산,청룡산,서울 관악구 봉천동 산 174-650,24021635,126.945147,37.474801
10,2010-01-01 06:00:00,2010-01-01 06:31:00,경기도 광명시 하안동,실족추락,경상,인명구조,경기도 광명시 하안동 산,구름산,경기 광명시 하안동,26385723,126.868702,37.446179
11,2010-01-01 07:00:00,2010-01-01 07:17:00,경상북도 문경시 문경읍 상초리,일반조난,미상,기타,경상북도 문경시 문경읍 상초리 산,주흘산,경북 문경시 문경읍 상초리,8069093,128.101240,36.788618
12,2010-01-01 07:00:00,2010-01-01 07:30:00,경상남도 마산시 교방동,실족추락,안전구조,인명구조,경상남도 마산시 교방동 산,부엉산,경남 창원시 마산합포구 자산동,8397875,128.553193,35.205383
13,2010-01-01 07:00:00,2010-01-01 07:33:00,충청북도 청주시 흥덕구 산남동,개인(급.만성)질환,사망,인명구조,충청북도 청주시 흥덕구 산남동 산,구룡산,충북 청주시 서원구 산남동,25183590,127.464395,36.618367
14,2010-01-01 08:00:00,2010-01-01 08:01:00,충청남도 부여군 석성면 증산리,산악기타,경상,인명구조,충청남도 부여군 석성면 증산리 산,소반산,충남 부여군 석성면 증산리,25288295,127.016420,36.238058
15,2010-01-01 08:00:00,2010-01-01 08:04:00,부산광역시 남구 용호동,산악기타,경상,인명구조,부산광역시 남구 용호동 산,봉오리산,부산 남구 용호동 산 72,24023774,129.104328,35.114421
16,2010-01-01 08:00:00,2010-01-01 08:18:00,경상남도 밀양시 가곡동,일반조난,경상,인명구조,경상남도 밀양시 가곡동 산,용두산,경남 밀양시 가곡동,25327998,128.772523,35.478899
17,2010-01-01 08:00:00,2010-01-01 08:22:00,서울특별시 도봉구 도봉동,실족추락,미상,인명구조,서울특별시 도봉구 도봉동 산,도봉산,서울 도봉구 도봉동,8259558,127.015485,37.698836
18,2010-01-01 08:00:00,2010-01-01 08:32:00,경기도 의왕시 내손동,산악기타,경상,인명구조,경기도 의왕시 내손동 산,모락산,경기 의왕시 내손동,25232474,126.978640,37.370755
19,2010-01-01 08:00:00,2010-01-01 08:40:00,서울특별시 광진구 광장동,산악기타,미상,인명구조,서울특별시 광진구 광장동 산,아차산,경기 구리시 아천동 산 49-1,11108611,127.102741,37.566686
20,2010-01-01 08:00:00,2010-01-01 08:40:00,충청남도 계룡시 엄사면 향한리,실족추락,미상,인명구조,충청남도 계룡시 엄사면 향한리 산,향적산,충남 계룡시 엄사면 향한리,15174156,127.202355,36.293600
21,2010-01-01 08:00:00,2010-01-01 08:40:00,충청남도 계룡시 엄사면 엄사리,산악기타,경상,인명구조,충청남도 계룡시 엄사면 엄사리 산,향적산,충남 계룡시 엄사면 향한리,15174156,127.202355,36.293600
22,2010-01-01 08:00:00,2010-01-01 08:41:00,부산광역시 사하구 괴정동,산악기타,미상,인명구조,부산광역시 사하구 괴정동 산,시약산,부산 사하구 괴정동 산 1-1,25297463,128.999479,35.118443
23,2010-01-01 08:00:00,2010-01-01 08:48:00,경기도 남양주시 별내면 화접리,실족추락,경상,인명구조,경기도 남양주시 별내면 산,수락산,경기 남양주시 별내면 청학리,7963713,127.081274,37.699169
24,2010-01-01 08:00:00,2010-01-01 08:56:00,충청남도 천안시 동남구 신부동,실족추락,경상,인명구조,충청남도 천안시 동남구 신부동 산,큰매산,충남 천안시 서북구 두정동,25380724,127.163148,36.836014
25,2010-01-01 09:00:00,2010-01-01 09:06:00,서울특별시 노원구 상계동,실족추락,미상,인명구조,서울특별시 노원구 상계동 산,초안산,서울 노원구 월계동,25375459,127.047197,37.640278
26,2010-01-01 09:00:00,2010-01-01 09:12:00,서울특별시 도봉구 도봉동,산악기타,미상,인명구조,서울특별시 도봉구 도봉동 산,도봉산,서울 도봉구 도봉동,8259558,127.015485,37.698836
27,2010-01-01 09:00:00,2010-01-01 09:21:00,강원도 양양군 서면 오색리,산악기타,미상,기타,강원도 양양군 서면 오색리 산,설악산,강원 양양군 서면 오색리,21764909,128.466289,38.118963
28,2010-01-01 10:00:00,2010-01-01 10:09:00,경상북도 영주시 풍기읍 삼가리,산악기타,경상,인명구조,경상북도 영주시 풍기읍 삼가리 산,소백산,경북 영주시 풍기읍 삼가리,15166498,128.484837,36.957230
29,2010-01-01 10:00:00,2010-01-01 10:25:00,경상남도 통영시 사량면,실족추락,중상,인명구조,경상남도 통영시 사량면 산,사량도 지리산,경남 통영시 사량면 돈지리 산 151,25037800,128.182205,34.845855
...,...,...,...,...,...,...,...,...,...,...,...,...
84295,2018-12-29 14:00:00,2018-12-29 14:04:00,부산광역시 해운대구 좌동,개인질환,미상,인명구조,부산광역시 해운대구 좌동 산,구곡산,부산 해운대구 좌동,11030105,129.169950,35.200808
84296,2018-12-29 14:00:00,2018-12-29 14:34:00,강원도 정선군 정선읍 회동리,일반조난,안전구조,인명구조,강원도 정선군 정선읍 회동리 산,가리왕산,강원 정선군 정선읍 회동리,27445179,128.563493,37.461319
84297,2018-12-29 14:00:00,2018-12-29 14:55:00,강원도 인제군 북면 용대리,기타산악,미상,인명구조,강원도 인제군 북면 용대리 산,오봉산,강원 인제군 북면 용대리 산 12-1,24021722,128.371991,38.192736
84298,2018-12-29 15:00:00,2018-12-29 15:00:00,강원도 인제군 북면 용대리,개인질환,경상,인명구조,강원도 인제군 북면 용대리 산,오봉산,강원 인제군 북면 용대리 산 12-1,24021722,128.371991,38.192736
84299,2018-12-29 15:00:00,2018-12-29 15:16:00,전라북도 고창군 고창읍 월곡리,기타산악,미상,안전조치,전라북도 고창군 고창읍 월곡리 산,방문산,전남 장성군 북이면 죽청리,17469645,126.738231,35.448941
84300,2018-12-29 17:00:00,2018-12-29 17:51:00,울산광역시 북구 염포동,기타산악,미상,기타,울산광역시 북구 염포동 산,염포산,울산 북구 염포동,10644948,129.408838,35.521379
84301,2018-12-29 17:00:00,2018-12-29 17:51:00,울산광역시 북구 염포동,기타산악,안전구조,인명구조,울산광역시 북구 염포동 산,염포산,울산 북구 염포동,10644948,129.408838,35.521379
84302,2018-12-30 08:00:00,2018-12-30 08:45:00,전라북도 남원시 산내면 부운리,기타산악,경상,인명구조,전라북도 남원시 산내면 부운리 산,삼정산,경남 함양군 마천면 군자리 산 26,25034714,127.625540,35.379311
84303,2018-12-30 09:00:00,2018-12-30 09:15:00,서울특별시 은평구 진관동,일반조난,안전구조,인명구조,서울특별시 은평구 진관동 산,이말산,서울 은평구 진관동 산 74,23121356,126.924578,37.639132
84304,2018-12-30 10:00:00,2018-12-30 10:25:00,서울특별시 도봉구 도봉동,기타산악,미상,안전조치,서울특별시 도봉구 도봉동 산,도봉산,서울 도봉구 도봉동,8259558,127.015485,37.698836
84305,2018-12-30 11:00:00,2018-12-30 11:19:00,인천광역시 미추홀구 문학동,기타산악,미상,인명구조,인천광역시 미추홀구 문학동 산,문학산,인천 미추홀구 문학동,7873702,126.677564,37.431490
84306,2018-12-30 11:00:00,2018-12-30 11:34:00,인천광역시 계양구 목상동,실족추락,안전구조,인명구조,인천광역시 계양구 목상동 산,계양산,인천 계양구 목상동,25175741,126.714463,37.553328
84307,2018-12-30 12:00:00,2018-12-30 12:56:00,전라남도 여수시 적량동,기타산악,미상,안전조치,전라남도 여수시 적량동 산,배틀산,전남 여수시 적량동,25247965,127.710117,34.830628
84308,2018-12-30 12:00:00,2018-12-30 12:59:00,강원도 양구군 양구읍 웅진리,기타산악,미상,기타,강원도 양구군 양구읍 웅진리 산,사명산,강원 화천군 간동면 방천리,7912944,127.905148,38.076095
84309,2018-12-30 13:00:00,2018-12-30 13:00:00,경상남도 함양군 함양읍 교산리,기타산악,중상,인명구조,경상남도 함양군 함양읍 교산리 산,백암산,경남 함양군 지곡면 보산리,25248511,127.729430,35.549418
84310,2018-12-30 13:00:00,2018-12-30 13:19:00,강원도 양구군 양구읍 웅진리,실족추락,경상,인명구조,강원도 양구군 양구읍 웅진리 산,사명산,강원 화천군 간동면 방천리,7912944,127.905148,38.076095
84311,2018-12-30 13:00:00,2018-12-30 13:20:00,강원도 원주시 봉산동,기타산악,미상,기타,강원도 원주시 봉산동 산,봉산,강원 원주시 태장동 191-1,25492026,127.961973,37.351579
84312,2018-12-30 13:00:00,2018-12-30 13:20:00,강원도 원주시 봉산동,실족추락,미상,안전조치,강원도 원주시 봉산동 산,봉산,강원 원주시 태장동 191-1,25492026,127.961973,37.351579
84313,2018-12-30 13:00:00,2018-12-30 13:20:00,서울특별시 관악구 봉천동,개인질환,기타,인명구조,서울특별시 관악구 봉천동 산,청룡산,서울 관악구 봉천동 산 174-650,24021635,126.945147,37.474801
84314,2018-12-30 13:00:00,2018-12-30 13:24:00,서울특별시 중랑구 상봉동,기타산악,미상,인명구조,서울특별시 중랑구 상봉동 산,봉화산,서울 중랑구 신내동 123,11062391,127.086902,37.608404
84315,2018-12-30 14:00:00,2018-12-30 14:12:00,강원도 인제군 인제읍 원대리,기타산악,안전구조,인명구조,강원도 인제군 인제읍 원대리 산,응봉산,강원 인제군 기린면 서리,10669769,128.229024,37.953499
84316,2018-12-30 14:00:00,2018-12-30 14:12:00,강원도 인제군 인제읍 원대리,기타산악,미상,인명구조,강원도 인제군 인제읍 원대리 산,응봉산,강원 인제군 기린면 서리,10669769,128.229024,37.953499
84317,2018-12-30 14:00:00,2018-12-30 14:23:00,강원도 원주시 봉산동,실족추락,경상,인명구조,강원도 원주시 봉산동 산,봉산,강원 원주시 태장동 191-1,25492026,127.961973,37.351579
84318,2018-12-30 14:00:00,2018-12-30 14:28:00,경기도 안양시 만안구 석수동,기타산악,미상,안전조치,경기도 안양시 만안구 석수동 산,삼성산,경기 안양시 만안구 석수동,7919279,126.939454,37.435893
84319,2018-12-30 15:00:00,2018-12-30 15:00:00,강원도 춘천시 석사동,기타산악,경상,인명구조,강원도 춘천시 석사동 산,안마산,강원 춘천시 퇴계동,7986127,127.744747,37.842362
84320,2018-12-30 16:00:00,2018-12-30 16:06:00,강원도 평창군 방림면 운교리,실족추락,경상,인명구조,강원도 평창군 방림면 운교리 산,백덕산,강원 평창군 방림면 운교리,25625011,128.293028,37.396996
84321,2018-12-30 16:00:00,2018-12-30 16:37:00,서울특별시 강북구 우이동,개인질환,미상,인명구조,서울특별시 강북구 우이동 산,삼각산,서울 강북구 우이동 산 68-1,27014164,126.993758,37.660729
84322,2018-12-30 17:00:00,2018-12-30 17:03:00,충청북도 옥천군 안남면 연주리,기타산악,안전구조,인명구조,충청북도 옥천군 안남면 연주리 산,뒷동산,충북 옥천군 안남면 화학리,25221470,127.678433,36.378549
84323,2018-12-30 17:00:00,2018-12-30 17:06:00,울산광역시 울주군 청량읍 율리,기타산악,미상,인명구조,울산광역시 울주군 청량읍 율리 산,남암산,울산 울주군 청량읍 율리,8232010,129.217684,35.512987
84324,2018-12-30 19:00:00,2018-12-30 19:34:00,경기도 남양주시 수석동,기타산악,미상,인명구조,경기도 남양주시 수석동 산,황금산,경기 남양주시 지금동 산 1050-2,1307641335,127.163487,37.603738

In [36]:
whos

Variable   Type         Data/Info
---------------------------------
cc         DataFrame           지점                <...>n[2184 rows x 36 columns]
cols       list         n=12
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
weather    DataFrame             지점              <...>808258 rows x 36 columns]
year2010   DataFrame             지점              <...>483341 rows x 36 columns]
year2011   DataFrame             지점              <...>831995 rows x 36 columns]
year2012   DataFrame             지점              <...>831625 rows x 36 columns]
year2013   DataFrame             지점              <...>827726 rows x 36 columns]
year2014   DataFrame             지점              <...>819535 rows x 36 columns]
year2015   DataFrame             지점              <...>820219 rows x 36 columns]
year2016   DataFrame             지점              <...>807872 rows x 36 columns]
year2017   DataFrame             지점              <...>812439 rows x 36 columns]
year2018   DataFrame             지점              <...>810640 rows x 36 columns]
year2019   DataFrame             지점              <...>760682 rows x 36 columns]
위도경도       DataFrame                        신고일시2<...>[84325 rows x 12 columns]

In [76]:
del year2010, year2011,year2012,year2013,year2014,year2015,year2016,year2017,year2018,year2019

In [38]:
whos

Variable   Type         Data/Info
---------------------------------
cc         DataFrame           지점                <...>n[2184 rows x 36 columns]
cols       list         n=12
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
weather    DataFrame             지점              <...>808258 rows x 36 columns]
위도경도       DataFrame                        신고일시2<...>[84325 rows x 12 columns]

In [40]:
위도경도2 = pd.read_excel('위도경도2.xlsx')

In [44]:
weather.columns

Index(['지점', '일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)',
       '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그', '증기압(hPa)',
       '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)', '해면기압 QC플래그',
       '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)',
       '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [11]:
weather['지점'] = weather['지점'].replace(90, '속초')
weather['지점'] = weather['지점'].replace(116, '관악산')
weather['지점'] = weather['지점'].replace(108, '서울')
weather['지점'] = weather['지점'].replace(159, '부산')
weather['지점'] = weather['지점'].replace(143, '대구')
weather['지점'] = weather['지점'].replace(176, '대구(기)')
weather['지점'] = weather['지점'].replace(201, '강화')
weather['지점'] = weather['지점'].replace(102, '백령도')
weather['지점'] = weather['지점'].replace(112, '인천')
weather['지점'] = weather['지점'].replace(156, '광주')
weather['지점'] = weather['지점'].replace(133, '대전')
weather['지점'] = weather['지점'].replace(152, '울산')
weather['지점'] = weather['지점'].replace(98, '동두천')
weather['지점'] = weather['지점'].replace(119, '수원')
weather['지점'] = weather['지점'].replace(202, '양평')
weather['지점'] = weather['지점'].replace(203, '이천')
weather['지점'] = weather['지점'].replace(99, '파주')
weather['지점'] = weather['지점'].replace(105, '강릉')
weather['지점'] = weather['지점'].replace(100, '대관령')
weather['지점'] = weather['지점'].replace(106, '동해')
weather['지점'] = weather['지점'].replace(104, '북강릉')
weather['지점'] = weather['지점'].replace(93, '북춘천')
weather['지점'] = weather['지점'].replace(214, '삼척')
weather['지점'] = weather['지점'].replace(90, '속초')
weather['지점'] = weather['지점'].replace(121, '영월')
weather['지점'] = weather['지점'].replace(114, '원주')
weather['지점'] = weather['지점'].replace(211, '인제')
weather['지점'] = weather['지점'].replace(217, '정선')
weather['지점'] = weather['지점'].replace(95, '철원')
weather['지점'] = weather['지점'].replace(101, '춘천')
weather['지점'] = weather['지점'].replace(216, '태백')
weather['지점'] = weather['지점'].replace(212, '홍천')
weather['지점'] = weather['지점'].replace(226, '보은')
weather['지점'] = weather['지점'].replace(221, '제천')
weather['지점'] = weather['지점'].replace(131, '청주')
weather['지점'] = weather['지점'].replace(135, '추풍령')
weather['지점'] = weather['지점'].replace(127, '충주')
weather['지점'] = weather['지점'].replace(238, '금산')
weather['지점'] = weather['지점'].replace(235, '보령')
weather['지점'] = weather['지점'].replace(236, '부여')
weather['지점'] = weather['지점'].replace(129, '서산')
weather['지점'] = weather['지점'].replace(232, '천안')
weather['지점'] = weather['지점'].replace(177, '홍성')
weather['지점'] = weather['지점'].replace(172, '고창')
weather['지점'] = weather['지점'].replace(251, '고창군')
weather['지점'] = weather['지점'].replace(140, '군산')
weather['지점'] = weather['지점'].replace(247, '남원')
weather['지점'] = weather['지점'].replace(243, '부안')
weather['지점'] = weather['지점'].replace(254, '순창군')
weather['지점'] = weather['지점'].replace(244, '임실')
weather['지점'] = weather['지점'].replace(248, '장수')
weather['지점'] = weather['지점'].replace(146, '전주')
weather['지점'] = weather['지점'].replace(245, '정읍')
weather['지점'] = weather['지점'].replace(259, '강진군')
weather['지점'] = weather['지점'].replace(262, '고흥')
weather['지점'] = weather['지점'].replace(266, '광양시')
weather['지점'] = weather['지점'].replace(165, '목포')
weather['지점'] = weather['지점'].replace(164, '무안')
weather['지점'] = weather['지점'].replace(258, '보성군')
weather['지점'] = weather['지점'].replace(174, '순천')
weather['지점'] = weather['지점'].replace(168, '여수')
weather['지점'] = weather['지점'].replace(252, '영광군')
weather['지점'] = weather['지점'].replace(170, '완도')
weather['지점'] = weather['지점'].replace(260, '장흥')
weather['지점'] = weather['지점'].replace(256, '주암')
weather['지점'] = weather['지점'].replace(175, '진도')
weather['지점'] = weather['지점'].replace(261, '해남')
weather['지점'] = weather['지점'].replace(169, '흑산도')
weather['지점'] = weather['지점'].replace(283, '경주시')
weather['지점'] = weather['지점'].replace(279, '구미')
weather['지점'] = weather['지점'].replace(273, '문경')
weather['지점'] = weather['지점'].replace(271, '봉화')
weather['지점'] = weather['지점'].replace(137, '상주')
weather['지점'] = weather['지점'].replace(136, '안동')
weather['지점'] = weather['지점'].replace(277, '영덕')
weather['지점'] = weather['지점'].replace(272, '영주')
weather['지점'] = weather['지점'].replace(281, '영천')
weather['지점'] = weather['지점'].replace(115, '울릉도')
weather['지점'] = weather['지점'].replace(130, '울진')
weather['지점'] = weather['지점'].replace(278, '의성')
weather['지점'] = weather['지점'].replace(276, '청송군')
weather['지점'] = weather['지점'].replace(138, '포항')
weather['지점'] = weather['지점'].replace(294, '거제')
weather['지점'] = weather['지점'].replace(284, '거창')
weather['지점'] = weather['지점'].replace(253, '김해시')
weather['지점'] = weather['지점'].replace(295, '남해')
weather['지점'] = weather['지점'].replace(288, '밀양')
weather['지점'] = weather['지점'].replace(255, '북창원')
weather['지점'] = weather['지점'].replace(289, '산청')
weather['지점'] = weather['지점'].replace(257, '양산시')
weather['지점'] = weather['지점'].replace(263, '의령군')
weather['지점'] = weather['지점'].replace(192, '진주')
weather['지점'] = weather['지점'].replace(155, '창원')
weather['지점'] = weather['지점'].replace(162, '통영')
weather['지점'] = weather['지점'].replace(264, '함양군')
weather['지점'] = weather['지점'].replace(285, '합천')
weather['지점'] = weather['지점'].replace(185, '고산')
weather['지점'] = weather['지점'].replace(189, '서귀포')
weather['지점'] = weather['지점'].replace(188, '성산')
weather['지점'] = weather['지점'].replace(187, '성산')
weather['지점'] = weather['지점'].replace(265, '성산포')
weather['지점'] = weather['지점'].replace(184, '제주')
weather['지점'] =weather['지점'].replace('함양군', '함양')
weather['지점'] =weather['지점'].replace('영광군', '영광')
weather['지점'] =weather['지점'].replace('양산시', '양산')
weather['지점'] =weather['지점'].replace('보성군', '보성')
weather['지점'] =weather['지점'].replace('고창군', '고성')
weather['지점'] =weather['지점'].replace('광양시', '광양')
weather['지점'] =weather['지점'].replace('순창군', '순창')
weather['지점'] =weather['지점'].replace('의령군', '의령')
weather['지점'] =weather['지점'].replace('강진군', '강진')
weather['지점'] =weather['지점'].replace('김해시', '김해')
weather['지점'] =weather['지점'].replace('청송군', '청송')
weather['지점'] =weather['지점'].replace('울릉도', '울릉')
weather['지점'] =weather['지점'].replace('경주시', '경주')

In [12]:
weather.dtypes 
##일시가 object type으로 되어있다. 바꿔주자.
weather.rename(columns={'일시':'신고일시'}, inplace =True)
##그전에 일시를 신고일시로 통일 시켜주자
weather.columns
##신고일시로 잘들어간거 확인

Index(['지점', '신고일시', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)',
       '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그', '증기압(hPa)',
       '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)', '해면기압 QC플래그',
       '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)',
       '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [13]:
weather['신고일시'] = pd.to_datetime(weather['신고일시'])
## datetime 형식으로 바꿔주자.
weather.dtypes

지점                       object
신고일시             datetime64[ns]
기온(°C)                  float64
기온 QC플래그                float64
강수량(mm)                 float64
강수량 QC플래그               float64
풍속(m/s)                 float64
풍속 QC플래그                float64
풍향(16방위)                float64
풍향 QC플래그                float64
습도(%)                   float64
습도 QC플래그                float64
증기압(hPa)                float64
이슬점온도(°C)               float64
현지기압(hPa)               float64
현지기압 QC플래그              float64
해면기압(hPa)               float64
해면기압 QC플래그              float64
일조(hr)                  float64
일조 QC플래그                float64
일사(MJ/m2)               float64
적설(cm)                  float64
3시간신적설(cm)              float64
전운량(10분위)               float64
중하층운량(10분위)             float64
운형(운형약어)                 object
최저운고(100m )             float64
시정(10m)                 float64
지면상태(지면상태코드)            float64
현상번호(국내식)               float64
지면온도(°C)                float64
지면온도 QC플래그              float64
5cm 지중온도(°C)            float64
10cm 지중온도(°C)           float64
20cm 지중온도(°C)           float64
30cm 지중온도(°C)           float64
dtype: object

In [14]:
위도경도3 = pd.read_excel('위도경도3.xlsx')

In [15]:
위도경도3.dtypes

신고일시2       datetime64[ns]
신고일시        datetime64[ns]
지점                  object
주소                  object
사고원인                object
구조상태                object
처리결과                object
mountain            object
인접산                 object
산주소                 object
산id                  int64
위도                 float64
경도                 float64
dtype: object

In [16]:
weather.dtypes

지점                       object
신고일시             datetime64[ns]
기온(°C)                  float64
기온 QC플래그                float64
강수량(mm)                 float64
강수량 QC플래그               float64
풍속(m/s)                 float64
풍속 QC플래그                float64
풍향(16방위)                float64
풍향 QC플래그                float64
습도(%)                   float64
습도 QC플래그                float64
증기압(hPa)                float64
이슬점온도(°C)               float64
현지기압(hPa)               float64
현지기압 QC플래그              float64
해면기압(hPa)               float64
해면기압 QC플래그              float64
일조(hr)                  float64
일조 QC플래그                float64
일사(MJ/m2)               float64
적설(cm)                  float64
3시간신적설(cm)              float64
전운량(10분위)               float64
중하층운량(10분위)             float64
운형(운형약어)                 object
최저운고(100m )             float64
시정(10m)                 float64
지면상태(지면상태코드)            float64
현상번호(국내식)               float64
지면온도(°C)                float64
지면온도 QC플래그              float64
5cm 지중온도(°C)            float64
10cm 지중온도(°C)           float64
20cm 지중온도(°C)           float64
30cm 지중온도(°C)           float64
dtype: object

In [17]:
set(위도경도3.신고일시2) - set(weather.신고일시)

set()

In [18]:
set(위도경도3.지점) - set(weather.지점)

set()

In [19]:
weather.rename(columns={'신고일시':'신고일시2'}, inplace=True)
weather.columns

Index(['지점', '신고일시2', '기온(°C)', '기온 QC플래그', '강수량(mm)', '강수량 QC플래그', '풍속(m/s)',
       '풍속 QC플래그', '풍향(16방위)', '풍향 QC플래그', '습도(%)', '습도 QC플래그', '증기압(hPa)',
       '이슬점온도(°C)', '현지기압(hPa)', '현지기압 QC플래그', '해면기압(hPa)', '해면기압 QC플래그',
       '일조(hr)', '일조 QC플래그', '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)',
       '중하층운량(10분위)', '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)',
       '현상번호(국내식)', '지면온도(°C)', '지면온도 QC플래그', '5cm 지중온도(°C)', '10cm 지중온도(°C)',
       '20cm 지중온도(°C)', '30cm 지중온도(°C)'],
      dtype='object')

In [20]:
temp = 위도경도3.merge(weather, on=['지점', '신고일시2'], how = 'left')

In [21]:
temp.shape, 위도경도3.shape

((84247, 47), (84247, 13))

In [64]:
84496-84310

186

In [22]:
temp.to_excel('real.xlsx')